
.navbar-brand
{
    margin-right:5px;
}
.navone {
    background-color: rgb(0, 155, 255)!important;

}
.navone a{
    color: #fff!important;

}
.navtwo a:hover{
    background-color: rgb(0, 155, 255)!important;
}
.navthree a:hover{
    background-color:rgb(64, 161, 89)!important;
}
.navfour a:hover{
    background-color: rgb(158, 29, 10)!important;
}
.navfive a:hover{
    background-color:rgb(35, 99, 51)!important;
}
.navsix a:hover{
    background-color:rgb(102, 102, 102)!important;
}
.navseven a:hover{
    background-color:rgb(116, 23, 132)!important;
}
.naveight a:hover{
    background-color:rgb(238, 165, 0)!important;
}
.navnine a:hover{
    background-color:rgb(247, 96, 31)!important;
}

.leftside
{
    background-color:#003D6F;
    height:420px;
    padding-left:0px;
    padding-right:0px;

}
.leftside a , .leftside p
{
    color:#FFFFFF;
    padding-top:5px;
    padding-left:5px;
}
.rightside
{
    background-color:#1D1D1D;
    height: 420px;
}


.col-md-8, .col-md-7
{
    padding-left:0px!important;
}
.hero a
{
    color: #333333;
    display: inline-block;
    float: left;
    font-size: 12px;
    overflow: hidden;
    padding: 13px 0 11px;
    border-bottom: 1px solid #E6E6E6;

    width: 280px;
    text-decoration:none;
}
.hero a:hover
{
    color: #FFFFFF;
    background-color:#999;
    text-decoration:none;
}
.hero
{
    padding-left:10px;
}

.front-headlines-header
{
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #E1E1E1;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 20px 9px;

}

.subsection-links  a
{
    color: #004074;
    font-size: 14px;
    font-weight: bold;
}
.nopad
{
    margin-left: 0px!important;
    margin-right: 0px!important;
}


body{
    background: url(../img/couch.jpg) center center no-repeat;
}


.jumbotron {
    background-color: #005288 !important;
    margin-top: 100px;
    min-height: 300px;
}

.starter-template
{
    padding: 60px 15px;

}
.jumbotron h3, .jumbotron h2, .jumbotron h4, .jumbotron h1 {
    color: #FFFFFF !important;
}

.main{
    margin-top: 100px;
}

.border{
    background-color:#fff;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px !important;

}

/*-------apartment widget------*/
.aptswboxcontent {
    padding: 15px !important;
}
#rentalsearch {
    background-image: none !important;
    text-align: left;
    width: 300px !important;
    height: 250px !important;
    margin-bottom: 5px;
}
#aptsw {
    margin: 0 !important;
    width: 300px !important;
}
#apts_submit {
    margin-top: 10px;
    height: 35px;
}
#apts_submit input {
    margin-top: 15px;
    margin-left: 12px;
}
.aptswboxcontent {
    padding-bottom: 15px;
}
#widget_heading {
    width: 100%;
    text-align: center;
    font-size: 30px !important;
    color: #659c15;
    margin: 15px 0 10px 0;
    padding: 0 !important;
    font-family: "Times New Roman", Times, serif !important;
}
.field_col_2, .field_col_3, .field_col_4 {
    width: 30%;
    float: left;
    padding-right: 6px;
}
.field_col_2 select, .field_col_3 select, .field_col_4 select {
    display: block;
    width: 75px;
}
.field_col_2 {
    clear: both;
}
.form_label p {
    display: block;
}
.field_col_1 input#city {
    width: 70%;
    height: 40px;
    /*	line-height: 32px;
    */	float: left;
}
.aptQuickLinks {
    margin:15px 0;
    font-size: 80%;
    color: #666;
}
.aptQuickLinks a {
    color: #659c15;
}
.input-lg {
    font-size: 12px !important;

}



