body {
    min-width: 10px !important;
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

.header {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAAJFBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHDRPAkXAAAADHRSTlMAESIziJmqu8zd7v+91kxoAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADIxLzEyLzEymvNa/wAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAArSURBVAiZY2DAB1iaoAy2XQZQVvRiKIMVLlQ9AU0EpoZjhwLUnEa81iABAFHzB8GYPzdNAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
}

.content {
    border: 2px solid #ccc;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

.footlinks ul {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.footlinks li:first-child {
    border-left: medium none;
    padding-left: 0.25em;
}
.footlinks li {
    border-left: 1px solid #AAAAAA;
    display: inline-block;
    line-height: 1.25em;
    margin: 0.125em 0;
    padding: 0 0.5em;
}
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}
